body {
	margin: 0;
	background-color: gray;
	height: 800px;
}

.body {
	height:68%;
}

.client_form {
	margin: auto;
	width:550px;
	height:450px;
	border: 3px solid #003399;
	line-height: 24px;
	border-radius: 5px;
	position: relative;
	background-color: #006633;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	color: #fff;
}
	
input {
	display: block;
	width: 375px;
	margin: 0 auto;
}
	
.form_wrap {
	text-align: center;
}
	
.submit {
	width: 25%;
}

.header-wrap{
	height: auto;
	background-color: #006633;
	position: relative;
	border-bottom: 5px solid #003399;
}

.logo {

}

.menu {
	text-align: center;
	position: relative;
}

#accordion-1 {
	width: 50%;
	margin: 0 auto;
	top: 80%;
  	-webkit-transform: translateY(-80%);
  	-ms-transform: translateY(-80%);
  	transform: translateY(-80%);
}

.footer {
	height: 150px;
	background-color: #006633;
	border-top: 5px solid #003399;
	text-align: center;
}