body {
	margin: 0;
}

.client_form {
	margin: auto;
	width:550px;
	height:450px;
	border: 1px solid #999;
	line-height: 24px;
	border-radius: 5px;
	position: relative;
}
	
input {
	display: block;
	width: 375px;
	margin: 0 auto;
}
	
.form_wrap {
	text-align: center;
}
	
.submit {
	width: 25%;
}

.header-wrap{
	height: 200px;
	background-color: #8585AD;
	position: relative;
}

.logo {

}

.menu {

}

#accordion-1 {
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}